<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="{{ asset("/css/style.css") }}" rel="stylesheet">

    </head>
    <body>
        
        <nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-list" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a data-spa-enable class="navbar-brand" href="{{ path('homepage') }}">
                        <img src="{{ asset("bundles/app/images/logo.png") }}"  id="logo" /><span class="hidden-xs"> Noah's Kick Ass Website</span><span class="hidden-md hidden-lg"> Noah's Website</span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id='main-nav-list' >
                    <ul class="nav navbar-nav">
                        <li {% if 'home' == tab %}class='active'{% endif %} ><a data-spa-enable href="{{ path('homepage') }}">Home Page</a></li>
                        <li {% if 'skill' == tab %}class='active'{% endif %}><a data-spa-enable href="{{ path('skill') }}">Skills</a></li>
                        <li {% if 'jobs' == tab %}class='active'{% endif %} ><a data-spa-enable href="{{ path('jobs') }}">Jobs</a></li>
                        <li {% if 'community' == tab %}class='active'{% endif %} ><a data-spa-enable href="{{ path('community') }}">Community</a></li>
                        <li {% if 'projects' == tab %}class='active'{% endif %} ><a data-spa-enable href="{{ path('projects') }}">Projects</a></li>
                        <li class='hidden-md hidden-lg{% if 'contact' == tab %} active{% endif %}' ><a data-spa-enable  href='{{ path('contact') }}'>Contact</a></li>
                        <li class='hidden-md hidden-lg{% if 'about' == tab %} active{% endif %}' ><a data-spa-enable  href='{{ path('aboutsite') }}'>About Site</a></li>
                        <li class='hidden-md hidden-lg' ><a href='{{ path('test_page') }}'>Jasmine Tests</a></li>
                        <li class='hidden-md hidden-lg' ><a href='{{ path('nelmio_api_doc_index') }}'>Api Documentation</a></li>
                        <li class='hidden-md hidden-lg{% if 'privacy' == tab %} active{% endif %}' ><a data-spa-enable  href='{{ path('privacypolicy') }}'>Privacy Policy</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <div id="main" class="container-fluid">

        </div>
        <footer >
            <div class='col-md-10 col-md-offset-1' >
                <a data-spa-enable  href='{{ path('contact') }}'>Contact</a>
                <a data-spa-enable  href='{{ path('aboutsite') }}'>About Site</a>
                <a href='{{ path('test_page') }}'>Jasmine Tests</a>
                <a href='{{ path('nelmio_api_doc_index') }}'>Api Documentation</a>
                <a data-spa-enable  href='{{ path('privacypolicy') }}'>Privacy Policy</a>
            </div>
        </footer>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script data-main="scripts/main" src="{{ asset("bundles/app/js/main/require_config.js") }}"></script>
        <script type="text/javascript" data-main="bundles/app/js/main/main" src="{{ asset("bundles/app/js/thirdparty/requirejs/require.js") }}" ></script>
    </body>
</html>